<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>614602669298-gh06v7bquvo9p6bdhuj5o0gneldf7arc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614602669298-gh06v7bquvo9p6bdhuj5o0gneldf7arc</string>
	<key>API_KEY</key>
	<string>AIzaSyDHBYVA0_Pa1UJyd77CcrBRYbdKXH9wbyw</string>
	<key>GCM_SENDER_ID</key>
	<string>614602669298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FoodWasteApp.ESW</string>
	<key>PROJECT_ID</key>
	<string>thebuzz-9274d</string>
	<key>STORAGE_BUCKET</key>
	<string>thebuzz-9274d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:614602669298:ios:7e9c3dcb23e61487</string>
	<key>DATABASE_URL</key>
	<string>https://thebuzz-9274d.firebaseio.com</string>
</dict>
</plist>
